.col-md-12.col-sm-12.col-xs-12.card.recommendation-container
    .card-heading.col-md-12.col-sm-12.col-xs-12
        h1 Recommended destination
    .card-body.col-md-12.col-sm-12.col-xs-12
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/london.jpg").img-responsive
            h2 London
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/paris.jpg").img-responsive
            h2 Paris
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/new_york.jpg").img-responsive
            h2 New York
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/moscow.jpg").img-responsive
            h2 Moscow
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/cluj_napoca.jpg").img-responsive
            h2 Cluj Napoca
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/las_vegas.jpg").img-responsive
            h2 Las Vegas
            p
                i Destination details
        .col-md-4.col-sm-6.col-xs-12.recommendation
            img(src="/img/api/p/barcelona.jpg").img-responsive
            h2 Barcelona
            p
                i Destination details