.col-md-12.col-sm-12.col-xs-12.card.recommendation-container
    .card-heading.col-md-12.col-sm-12.col-xs-12
        h1 Recommended destinations
    .card-body.col-md-12.col-sm-12.col-xs-12
        .recommendation.col-md-4.col-sm-6.col-xs-12(ng-repeat="destination in popularDestinations", ng-click="searchHotels(destination, defaultCheckIn, defaultCheckOut)")
            img(ng-src="/img/api/p/{{destination.DestinationId}}.jpg").img-responsive
            h2 {{destination.Name}}
            p
                i Destination details
        .loader.col-md-12.col-sm-12.col-xs-12(ng-show="popularDestinationsLoader")
            i.fa.fa-spinner.fa-3x.fa-spin