.col-md-8
    .card.search.col-md-12.col-sm-12.col-xs-12
        .card-heading.col-md-12.col-sm-12.col-xs-12
            h1 Search for hotels
        .card-body.col-md-12.col-sm-12.col-xs-12
            .form
                .col-md-12.input-group
                    input(type="text", placeholder="Destination", ng-model="destination", ng-change="autocomplete(destination)").form-control
                    span.input-group-addon
                        span.fa.fa-search
                    .autocomplete-panel(ng-hide="autocompleteIsHidden()", ng-autocomplete)
                .col-md-6.input-group
                    input(type="text", placeholder="Check-in", show-button-bar="false", datepicker-popup="{{format}}", ng-model="cidt", is-open="checkInOpened", min-date="checkInMinDate", max-date="checkInMaxDate", datepicker-options="dateOptions", ng-required="true", ng-click="datepickerOpen($event, 'checkIn')", readonly="true").form-control
                    span.input-group-addon
                        span.fa.fa-calendar-o
                .col-md-6.input-group
                    input(type="text", placeholder="Check-out", show-button-bar="false", datepicker-popup="{{format}}", ng-model="codt", is-open="checkOutOpened", min-date="checkOutMinDate", max-date="checkOutMaxDate", datepicker-options="dateOptions", ng-required="true", ng-click="datepickerOpen($event, 'checkOut')", readonly="true").form-control
                    span.input-group-addon
                        span.fa.fa-calendar-o
                .col-md-2.col-md-offset-10
                    button(type="submit", ng-click="searchHotels(selectedDestination, cidt, codt)").btn.btn-main Search
    include recommended
.col-md-4
    include sidebar