.col-md-8
    .card.search.col-md-12.col-sm-12.col-xs-12
        .card-heading.col-md-12.col-sm-12.col-xs-12
            h1 Search for hotels
        .card-body.col-md-12.col-sm-12.col-xs-12
            .form
                .col-md-12.input-group
                    input(type="text", placeholder="Destination", ng-model="destination", ng-change="autocomplete(destination)").form-control
                    span.input-group-addon
                        span.fa.fa-search
                    .autocomplete-panel(ng-hide="autocompleteIsHidden()", ng-autocomplete)
                .col-md-6.input-group
                    input(type="text", placeholder="Check-in", show-button-bar="false", datepicker-popup="{{format}}", show-weeks="false", ng-model="cidt", is-open="checkInOpened", min-date="checkInMinDate", max-date="'2015-06-22'", datepicker-options="dateOptions", date-disabled="checkInDisabled(date, mode)", ng-required="true", ng-click="checkInOpen($event)").form-control
                    span.input-group-addon
                        span.fa.fa-calendar-o
                .col-md-6.input-group
                    input(type="text", placeholder="Check-out", show-button-bar="false", datepicker-popup="{{format}}", ng-model="codt", is-open="checkOutOpened", min-date="checkOutMinDate", max-date="'2015-06-22'", datepicker-options="dateOptions", date-disabled="checkOutDisabled(date, mode)", ng-required="true", ng-click="checkOutOpen($event)").form-control
                    span.input-group-addon
                        span.fa.fa-calendar-o
                .col-md-2.col-md-offset-10
                    button(type="submit").btn.btn-main Search
    include recommended
.col-md-4
    include sidebar