.navbar.navbar-default.navbar-fixed-top
    .container
        .collapse.navbar-collapse
            .navbar-header
                a(href="/").navbar-brand Xoomean
            ul.nav.navbar-nav
                li.active
                    a(href="/") Hotels
                li
                    a(href="/") Booking