doctype
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700,600,400', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="vendor/fontawesome/css/font-awesome.css")
        link(rel="stylesheet", href="vendor/toastr/toastr.css")
        link(rel="stylesheet", href="styles/global.css")

        base(href="/")
    body(ng-app="app")
        include header
        .container(ng-view)
            block main-block
        include scripts