.nav-tabs {
  li {
    &.ng-isolate-scope {
      a {
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
      }
    }
  }
}
.tab-card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  // Tab 0
  .hotel-cover {
    .hotel-cover-image {
      padding-right: 0;
    border-radius: 3px;
    }
    .hotel-cover-details {
      h1 {
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 1.8em;
      }
      h2 {
        margin: 0;
        padding: 0;
        font-size: 1.4em;
      }
      h3 {
        margin: 0;
        padding: 0;
        font-size: 1em;
      }
      .star-rating {
        margin-top: 10px;
      }
      .trip-advisor-rating {
        margin-top: 5px;

      }
    }
    .hotel-cover-description {
      padding: 0 15px;
      margin-top: 15px;
    }
  }

  // Tab 1
  .google-maps-widget {
    .angular-google-map-container {
      height: 400px;
    }
  }
  // Tab 2
  .hotel-images {
    .hotel-image-carousel {
      position: relative;
      img {
        width: 100%;
      }
      .hotel-image-caption {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: #fff;
        text-shadow: 1px 1px #000;
        h3 {
          margin: 0;
          padding: 0;
          font-size: 1.4em;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 1em;
          text-transform: capitalize;
        }
      }
    }
    .hotel-image-thumbnails {
      padding-left: 0;
      padding-right: 0;
      margin-top: 10px;
      height: 70px;
      overflow: hidden;
      .hotel-image {
        padding-left: 2px;
        padding-right: 2px;
        cursor: pointer;
        width: auto;
        float: left;
        .hotel-image-thumbnail {
          border-radius: 5px;
          opacity: 0.5;
          transition: 0.2s;
          &:hover {
            opacity: 1;
          }
          &.active {
            opacity: 1;
          }
        }
        &.ng-enter {
          -webkit-transition: 0.3s linear all; /* Chrome */
          transition: 0.3s linear all;
          opacity: 0;
        }
        &.ng-enter-stagger {
          transition-delay: 0.05s;
        }
        &.ng-enter-active {
          opacity: 1;
        }
      }
    }
    .image-disclaimer {
      margin-top: 10px;
      padding: 0 5px;
    }
  }
}
// Secondary col
.rooms-col {
  padding-top: 42px;
}