.carousel-inner {
  .item {
    max-height: 450px;
    overflow: hidden;
    transition: all 0.3s;
    img {
      width: 100%;
    }
  }
}
.carousel-control {
  cursor: pointer;
}
.carousel-indicators {
  display: none;
}