.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
  padding: 0;
  .card-heading {
    background-color: #f9f9f6;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px;
    h1 {
      font-size: 2em;
      margin: 0;
      padding: 0 15px;
      color: #3B3B3B;
    }
    h2 {
      font-size: 1.4em;
      margin: 0;
      padding: 0 15px;
      color: #3B3B3B;
    }
    h3 {
      font-size: 1em;
      margin: 0;
      padding: 0 5px;
      font-weight: 500;
      color: #3B3B3B;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .card-body {
    padding: 20px;
    .loader {
      text-align: center;
    }
    .disclaimer {
      p {
        font-size: 0.8em;
        bottom: 0;
        color: #b4b2aa;
      }
    }
  }
  // Card Main
  &.primal {
    border: none;
    .card-heading {
      background-color: #f4cc54;
      text-align: left;
      margin-bottom: 10px;
      border: none;
    }
  }
}
.nav-tabs {
  .ng-isolate-scope {
    padding-left: 10px;
    &:first-child {
      padding-left: 0;
    }
    a {
      background-color: #fff;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    &:active {
      a {
        background-color: #f9f9f6;
        border-bottom: none;
      }
    }
  }
}
.tab-card {
  border-top: none !important;
}