.carousel-inner {
  .item {
    max-height: 450px;
    overflow: hidden;
    transition: all 0.3s;
    img {
      width: 100%;
    }
  }
}
.hotel-image-carousel {
  height: 250px;
  overflow: hidden;
}