.hotel {
  height: 100px;
  width: 100%;
  padding: 10px !important;
  cursor: pointer;
  img {
    width: 100%;
  }
  .hotel-details {
    padding-left: 0;
    h2 {
      font-size: 1.8em;
      margin: 0;
    }
  }
}