body {
  margin-top: 70px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  background-image: url("/img/bkg2.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.navbar-collapse {
  padding: 0 30px !important; }

.navbar-header {
  margin-right: 20px !important; }
  .navbar-header .navbar-brand {
    font-size: 1.5em !important; }

.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
  padding: 0; }
  .card .card-heading {
    background-color: #f9f9f6;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px; }
    .card .card-heading h1 {
      font-size: 2em;
      margin: 0;
      padding: 0 15px;
      color: #3B3B3B; }
  .card .card-body {
    padding: 20px; }

.search .input-group {
  float: left !important;
  padding: 0 15px !important;
  margin-bottom: 15px;
  position: relative; }
.search .btn {
  width: 100%; }
.search .autocomplete-panel {
  position: absolute;
  width: 89%;
  margin-top: 33px;
  margin-left: 16px;
  z-index: 2000;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  left: 1px; }
  .search .autocomplete-panel .autocomplete-item {
    padding: 5px 10px;
    cursor: pointer; }
    .search .autocomplete-panel .autocomplete-item:hover {
      background-color: #F9F9F6; }
  .search .autocomplete-panel .autocomplete-category {
    padding: 5px 10px;
    cursor: default;
    font-size: 1em;
    color: #b4b2aa;
    font-wight: bold;
    border-bottom: 1px solid #f2f1ee; }

.btn-main {
  background-color: #f87e47;
  border-color: #ec7944;
  color: #fff; }
  .btn-main:hover {
    background-color: #ec7944;
    color: #fff; }

.form-control:focus {
  border-color: #f87e47 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 126, 71, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 126, 71, 0.6) !important; }

.form-control[readonly] {
  background-color: #fff !important; }

.btn:focus {
  border-color: #ff854e !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #ff854e;
  outline: none !important; }

.recommendation-container .recommendation {
  margin-bottom: 10px; }
  .recommendation-container .recommendation img {
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 10px; }
  .recommendation-container .recommendation h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #3b3b3b;
    font-weight: bold; }
  .recommendation-container .recommendation p {
    color: #b4b2aa; }
.recommendation-container .recommendation-loader {
  text-align: center; }

.dropdown-menu {
  background-color: #F87E47;
  padding-top: 0 !important;
  width: 80%; }
  .dropdown-menu table {
    width: 100%; }
    .dropdown-menu table .datepicker-header {
      background-color: #fff; }
      .dropdown-menu table .datepicker-header th {
        text-align: center;
        width: 15.25%;
        color: #a3a199 !important; }
        .dropdown-menu table .datepicker-header th .btn {
          border: none !important;
          border-radius: 0 !important;
          color: #a3a199 !important; }
          .dropdown-menu table .datepicker-header th .btn:hover {
            background-color: #fff !important; }
          .dropdown-menu table .datepicker-header th .btn:focus {
            background-color: #fff !important; }
    .dropdown-menu table .week-days {
      color: #db7344;
      text-transform: uppercase;
      line-height: 3em;
      text-align: center; }
    .dropdown-menu table tbody {
      color: #fff; }
      .dropdown-menu table tbody tr td {
        background-color: #F87E47;
        padding: 0 !important;
        width: 15.25%; }
        .dropdown-menu table tbody tr td .btn {
          border: none !important;
          border-radius: 50% !important;
          background-color: #F87E47 !important;
          color: #fff !important;
          opacity: 1 !important;
          padding: 2px 4px !important;
          height: 25px !important;
          width: 25px !important;
          font-weight: bold; }
          .dropdown-menu table tbody tr td .btn:hover {
            background-color: #fff !important; }
            .dropdown-menu table tbody tr td .btn:hover span {
              color: #f87e47; }
          .dropdown-menu table tbody tr td .btn.active {
            background-color: #fff !important; }
            .dropdown-menu table tbody tr td .btn.active span {
              color: #f87e47 !important; }
          .dropdown-menu table tbody tr td .btn .text-info {
            color: #fff; }
        .dropdown-menu table tbody tr td .text-muted {
          color: #fff; }
        .dropdown-menu table tbody tr td .disabled-btn span {
          color: #db7344 !important; }
      .dropdown-menu table tbody tr em {
        display: none; }
    .dropdown-menu table:focus {
      box-shadow: none !important;
      border: none !important;
      outline: none !important; }

/*# sourceMappingURL=global.css.map */
