{"version":3,"sources":["global.css"],"names":[],"mappings":"AAAA;EACE,4BAA4B;EAC5B,gDAAgD;EAChD,gBAAgB;EAChB,uCAAuC;EACvC,uBAAuB;EACvB,4BAA4B;EAC5B,+BAA+B;EAC/B,0BAA0B;EAC1B,6BAA6B;EAC7B,mCAAmC;EACnC,6BAA6B,EAAE;;AAEjC;EACE,kBAAkB;EAClB,mBAAmB,EAAE;;AAEvB;EACE,aAAa,EAAE;;AAEjB;EACE,2BAA2B,EAAE;;AAE/B;EACE,8BAA8B,EAAE;EAChC;IACE,4BAA4B,EAAE;;AAElC;EACE,uBAAuB;EACvB,kBAAkB;EAClB,sCAAsC;EACtC,2BAA2B;EAC3B,oBAAoB;EACpB,WAAW,EAAE;EACb;IACE,0BAA0B;IAC1B,gBAAgB;IAChB,mBAAmB;IACnB,oBAAoB;IACpB,sCAAsC;IACtC,kBAAkB,EAAE;IACpB;MACE,eAAe;MACf,UAAU;MACV,gBAAgB;MAChB,eAAe,EAAE;IACnB;MACE,iBAAiB;MACjB,UAAU;MACV,gBAAgB;MAChB,eAAe,EAAE;IACnB;MACE,eAAe;MACf,UAAU;MACV,eAAe;MACf,iBAAiB;MACjB,eAAe;MACf,iBAAiB;MACjB,wBAAwB;MACxB,oBAAoB;MACpB,YAAY,EAAE;EAClB;IACE,cAAc,EAAE;IAChB;MACE,mBAAmB,EAAE;;AAE3B;EACE,uBAAuB;EACvB,4BAA4B;EAC5B,2BAA2B;EAC3B,6BAA6B,EAAE;AACjC;EACE,0BAA0B;EAC1B,oBAAoB,EAAE;;AAExB;EACE,4BAA4B,EAAE;;AAEhC;EACE,uBAAuB;EACvB,2BAA2B;EAC3B,oBAAoB;EACpB,mBAAmB,EAAE;AACvB;EACE,YAAY,EAAE;AAChB;EACE,mBAAmB;EACnB,WAAW;EACX,iBAAiB;EACjB,kBAAkB;EAClB,cAAc;EACd,uBAAuB;EACvB,kBAAkB;EAClB,sCAAsC;EACtC,2BAA2B;EAC3B,UAAU,EAAE;EACZ;IACE,kBAAkB;IAClB,gBAAgB,EAAE;IAClB;MACE,0BAA0B,EAAE;EAChC;IACE,kBAAkB;IAClB,gBAAgB;IAChB,eAAe;IACf,eAAe;IACf,iBAAiB;IACjB,iCAAiC,EAAE;;AAEvC;EACE,0BAA0B;EAC1B,sBAAsB;EACtB,YAAY,EAAE;EACd;IACE,0BAA0B;IAC1B,YAAY,EAAE;;AAElB;EACE,iCAAiC;EAEjC,6FAA6F,EAAE;;AAEjG;EACE,kCAAkC,EAAE;;AAEtC;EACE,iCAAiC;EAEjC,4BAA4B;EAC5B,YAAY;EACZ,0BAA0B;EAC1B,yBAAyB,EAAE;;AAE7B;EACE,oBAAoB;EACpB,gBAAgB,EAAE;EAClB;IACE,mBAAmB;IACnB,kBAAkB;IAClB,sCAAsC;IACtC,oBAAoB;IACpB,qBAAqB,EAAE;EACzB;IACE,UAAU;IACV,WAAW;IACX,eAAe;IACf,eAAe;IACf,kBAAkB,EAAE;EACtB;IACE,eAAe,EAAE;EACnB;IACE,8BAAsB;YAAtB,sBAAsB;IAGtB,gCAAgC,EAAE;AACtC;EACE,mBAAmB,EAAE;;AAEvB;EACE,0BAA0B;EAC1B,0BAA0B;EAC1B,WAAW,EAAE;EACb;IACE,YAAY,EAAE;IACd;MACE,uBAAuB,EAAE;MACzB;QACE,mBAAmB;QACnB,cAAc;QACd,0BAA0B,EAAE;QAC5B;UACE,wBAAwB;UACxB,4BAA4B;UAC5B,0BAA0B,EAAE;UAC5B;YACE,kCAAkC,EAAE;UACtC;YACE,kCAAkC,EAAE;IAC5C;MACE,eAAe;MACf,0BAA0B;MAC1B,iBAAiB;MACjB,mBAAmB,EAAE;IACvB;MACE,YAAY,EAAE;MACd;QACE,0BAA0B;QAC1B,sBAAsB;QACtB,cAAc,EAAE;QAChB;UACE,wBAAwB;UACxB,8BAA8B;UAC9B,qCAAqC;UACrC,uBAAuB;UACvB,sBAAsB;UACtB,4BAA4B;UAC5B,wBAAwB;UACxB,uBAAuB;UACvB,kBAAkB,EAAE;UACpB;YACE,kCAAkC,EAAE;YACpC;cACE,eAAe,EAAE;UACrB;YACE,kCAAkC,EAAE;YACpC;cACE,0BAA0B,EAAE;UAChC;YACE,YAAY,EAAE;QAClB;UACE,YAAY,EAAE;QAChB;UACE,0BAA0B,EAAE;MAChC;QACE,cAAc,EAAE;IACpB;MACE,4BAA4B;MAC5B,wBAAwB;MACxB,yBAAyB,EAAE;;AAEjC;EACE,cAAc,EAAE;;AAElB;EACE,eAAe;EACf,WAAW,EAAE;EACb;IACE,aAAa;IACb,YAAY;IACZ,sBAAsB,EAAE;IACxB;MACE,gBAAgB;MAChB,iBAAiB,EAAE;IACrB;MACE,YAAY;MACZ,kBAAkB,EAAE;IACtB;MACE,aAAa;MACb,gBAAgB,EAAE;MAClB;QACE,iBAAiB;QACjB,UAAU,EAAE;IAChB;MACE,iBAAiB;MACjB,iBAAiB,EAAE;IACrB;MACE,iBAAiB;MACjB,cAAc;MACd,iBAAiB,EAAE;IACrB;MACE,eAAe;MACf,iBAAiB;MACjB,kBAAkB;MAClB,kBAAkB;MAClB,iBAAiB,EAAE;MACnB;QACE;UACE,kBAAkB;UAClB,eAAe,EAAE,EAAE;MACvB;QACE;UACE,kBAAkB;UAClB,iBAAiB,EAAE,EAAE;IAC3B;MACE,iBAAiB,EAAE;MACnB;QACE,YAAY,EAAE;EACpB;IAEE,YAAY;IACZ,4BAA4B;IAC5B,WAAW,EAAE;EACf;IACE,wBAAwB,EAAE;EAC5B;IACE,WAAW,EAAE;;AAEjB;EACE,kBAAkB;EAClB,iBAAiB;EACjB,qBAAqB,EAAE;EACvB;IACE,YAAY,EAAE;;AAElB;EACE,cAAc;EACd,iBAAiB,EAAE;;AAErB;EACE,mBAAmB;EACnB,YAAY;EACZ,aAAa;EACb,uBAAuB;EACvB,cAAc;EACd,QAAQ;EACR,OAAO;EACP,mBAAmB,EAAE;EACrB;IACE,gBAAgB,EAAE;IAClB;MACE,eAAe,EAAE;;AAEvB;EACE,cAAc,EAAE;;AAElB;EACE,gBAAgB;EAChB,iBAAiB;EACjB,iBAAiB;EACjB,aAAa;EACb,iBAAiB,EAAE;EACnB;IACE,gBAAgB;IAChB,iBAAiB;IACjB,gBAAgB,EAAE;;AAEtB;EACE,mBAAmB,EAAE","file":"global.css","sourcesContent":["body {\n  margin-top: 70px !important;\n  font-family: 'Open Sans', sans-serif !important;\n  font-size: 14px;\n  background-image: url('/img/bkg2.jpg');\n  background-size: cover;\n  -moz-background-size: cover;\n  -webkit-background-size: cover;\n  -o-background-size: cover;\n  background-repeat: no-repeat;\n  background-position: center center;\n  background-attachment: fixed; }\n\n.col-container {\n  padding-left: 5px;\n  padding-right: 5px; }\n\n.navbar {\n  z-index: 500; }\n\n.navbar-collapse {\n  padding: 0 30px !important; }\n\n.navbar-header {\n  margin-right: 20px !important; }\n  .navbar-header .navbar-brand {\n    font-size: 1.5em !important; }\n\n.card {\n  background-color: #fff;\n  border: 1px solid;\n  border-color: #e5e6e9 #dfe0e4 #d0d1d5;\n  -webkit-border-radius: 3px;\n  margin-bottom: 10px;\n  padding: 0; }\n  .card .card-heading {\n    background-color: #f9f9f6;\n    padding: 10px 0;\n    text-align: center;\n    margin-bottom: 10px;\n    border-color: #e5e6e9 #dfe0e4 #d0d1d5;\n    border-width: 1px; }\n    .card .card-heading h1 {\n      font-size: 2em;\n      margin: 0;\n      padding: 0 15px;\n      color: #3B3B3B; }\n    .card .card-heading h2 {\n      font-size: 1.4em;\n      margin: 0;\n      padding: 0 15px;\n      color: #3B3B3B; }\n    .card .card-heading h3 {\n      font-size: 1em;\n      margin: 0;\n      padding: 0 5px;\n      font-weight: 500;\n      color: #3B3B3B;\n      overflow: hidden;\n      text-overflow: ellipsis;\n      white-space: nowrap;\n      width: 100%; }\n  .card .card-body {\n    padding: 20px; }\n    .card .card-body .loader {\n      text-align: center; }\n\n.nav-tabs .ng-isolate-scope a {\n  background-color: #fff;\n  border-left: 1px solid #ddd;\n  border-top: 1px solid #ddd;\n  border-right: 1px solid #ddd; }\n.nav-tabs .ng-isolate-scope:active a {\n  background-color: #f9f9f6;\n  border-bottom: none; }\n\n.tab-card {\n  border-top: none !important; }\n\n.search .input-group {\n  float: left !important;\n  padding: 0 15px !important;\n  margin-bottom: 15px;\n  position: relative; }\n.search .btn {\n  width: 100%; }\n.search .autocomplete-panel {\n  position: absolute;\n  width: 89%;\n  margin-top: 33px;\n  margin-left: 16px;\n  z-index: 2000;\n  background-color: #fff;\n  border: 1px solid;\n  border-color: #e5e6e9 #dfe0e4 #d0d1d5;\n  -webkit-border-radius: 3px;\n  left: 1px; }\n  .search .autocomplete-panel .autocomplete-item {\n    padding: 5px 10px;\n    cursor: pointer; }\n    .search .autocomplete-panel .autocomplete-item:hover {\n      background-color: #F9F9F6; }\n  .search .autocomplete-panel .autocomplete-category {\n    padding: 5px 10px;\n    cursor: default;\n    font-size: 1em;\n    color: #b4b2aa;\n    font-wight: bold;\n    border-bottom: 1px solid #f2f1ee; }\n\n.btn-main {\n  background-color: #f87e47;\n  border-color: #ec7944;\n  color: #fff; }\n  .btn-main:hover {\n    background-color: #ec7944;\n    color: #fff; }\n\n.form-control:focus {\n  border-color: #f87e47 !important;\n  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 126, 71, 0.6) !important;\n  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 126, 71, 0.6) !important; }\n\n.form-control[readonly] {\n  background-color: #fff !important; }\n\n.btn:focus {\n  border-color: #ff854e !important;\n  -webkit-box-shadow: none !important;\n  box-shadow: none !important;\n  color: #fff;\n  background-color: #ff854e;\n  outline: none !important; }\n\n.recommendation-container .recommendation {\n  margin-bottom: 10px;\n  cursor: pointer; }\n  .recommendation-container .recommendation img {\n    border-radius: 3px;\n    border: 1px solid;\n    border-color: #e5e6e9 #dfe0e4 #d0d1d5;\n    margin-bottom: 10px;\n    transition: all 0.3s; }\n  .recommendation-container .recommendation h2 {\n    margin: 0;\n    padding: 0;\n    font-size: 1em;\n    color: #3b3b3b;\n    font-weight: bold; }\n  .recommendation-container .recommendation p {\n    color: #b4b2aa; }\n  .recommendation-container .recommendation:hover img {\n    transform: scale(1.1);\n    -webkit-box-shadow: 0 5px 5px 0 #b8b4b8;\n    -moz-box-shadow: 0 5px 5px 0 #b8b4b8;\n    box-shadow: 0 5px 5px 0 #b8b4b8; }\n.recommendation-container .recommendation-loader {\n  text-align: center; }\n\n.dropdown-menu {\n  background-color: #F87E47;\n  padding-top: 0 !important;\n  width: 80%; }\n  .dropdown-menu table {\n    width: 100%; }\n    .dropdown-menu table .datepicker-header {\n      background-color: #fff; }\n      .dropdown-menu table .datepicker-header th {\n        text-align: center;\n        width: 15.25%;\n        color: #a3a199 !important; }\n        .dropdown-menu table .datepicker-header th .btn {\n          border: none !important;\n          border-radius: 0 !important;\n          color: #a3a199 !important; }\n          .dropdown-menu table .datepicker-header th .btn:hover {\n            background-color: #fff !important; }\n          .dropdown-menu table .datepicker-header th .btn:focus {\n            background-color: #fff !important; }\n    .dropdown-menu table .week-days {\n      color: #db7344;\n      text-transform: uppercase;\n      line-height: 3em;\n      text-align: center; }\n    .dropdown-menu table tbody {\n      color: #fff; }\n      .dropdown-menu table tbody tr td {\n        background-color: #F87E47;\n        padding: 0 !important;\n        width: 15.25%; }\n        .dropdown-menu table tbody tr td .btn {\n          border: none !important;\n          border-radius: 50% !important;\n          background-color: #F87E47 !important;\n          color: #fff !important;\n          opacity: 1 !important;\n          padding: 2px 4px !important;\n          height: 25px !important;\n          width: 25px !important;\n          font-weight: bold; }\n          .dropdown-menu table tbody tr td .btn:hover {\n            background-color: #fff !important; }\n            .dropdown-menu table tbody tr td .btn:hover span {\n              color: #f87e47; }\n          .dropdown-menu table tbody tr td .btn.active {\n            background-color: #fff !important; }\n            .dropdown-menu table tbody tr td .btn.active span {\n              color: #f87e47 !important; }\n          .dropdown-menu table tbody tr td .btn .text-info {\n            color: #fff; }\n        .dropdown-menu table tbody tr td .text-muted {\n          color: #fff; }\n        .dropdown-menu table tbody tr td .disabled-btn span {\n          color: #db7344 !important; }\n      .dropdown-menu table tbody tr em {\n        display: none; }\n    .dropdown-menu table:focus {\n      box-shadow: none !important;\n      border: none !important;\n      outline: none !important; }\n\n.filters-outer {\n  margin: 0 5px; }\n\n.outer-hotel {\n  padding: 0 5px;\n  opacity: 1; }\n  .outer-hotel .hotel {\n    height: 100%;\n    width: 100%;\n    padding: 0 !important; }\n    .outer-hotel .hotel div {\n      padding-left: 0;\n      padding-right: 0; }\n    .outer-hotel .hotel .hotel-image img {\n      width: 100%;\n      max-height: 185px; }\n    .outer-hotel .hotel .hotel-details {\n      height: 50px;\n      margin-top: 5px; }\n      .outer-hotel .hotel .hotel-details h2 {\n        font-size: 1.8em;\n        margin: 0; }\n    .outer-hotel .hotel .price p {\n      font-size: 0.8em;\n      margin-bottom: 0; }\n    .outer-hotel .hotel .price h3 {\n      font-size: 1.4em;\n      margin-top: 0;\n      margin-bottom: 0; }\n    .outer-hotel .hotel .star-rating {\n      color: #f87e47;\n      min-height: 20px;\n      text-align: right;\n      padding-top: 12px;\n      font-size: 1.4em; }\n      @media screen and (max-width: 1200px) {\n        .outer-hotel .hotel .star-rating {\n          padding-top: 17px;\n          font-size: 1em; } }\n      @media screen and (max-width: 767px) {\n        .outer-hotel .hotel .star-rating {\n          padding-top: 12px;\n          font-size: 1.4em; } }\n    .outer-hotel .hotel .select-btn {\n      margin-top: 10px; }\n      .outer-hotel .hotel .select-btn .btn {\n        width: 100%; }\n  .outer-hotel.ng-enter {\n    -webkit-transition: 0.3s linear all;\n    /* Chrome */\n    transition: 0.3s linear all;\n    opacity: 0; }\n  .outer-hotel.ng-enter-stagger {\n    transition-delay: 0.05s; }\n  .outer-hotel.ng-enter-active {\n    opacity: 1; }\n\n.carousel-inner .item {\n  max-height: 450px;\n  overflow: hidden;\n  transition: all 0.3s; }\n  .carousel-inner .item img {\n    width: 100%; }\n\n.hotel-image-carousel {\n  height: 250px;\n  overflow: hidden; }\n\n.full-page-loader {\n  position: absolute;\n  width: 100%;\n  height: 100%;\n  background-color: #fff;\n  z-index: 1000;\n  left: 0;\n  top: 0;\n  text-align: center; }\n  .full-page-loader .full-page-loading-text {\n    margin-top: 20%; }\n    .full-page-loader .full-page-loading-text i {\n      color: #F87E47; }\n\n.google-maps-widget .angular-google-map-container {\n  height: 400px; }\n\n.hotel-image-thumbnails {\n  padding-left: 0;\n  padding-right: 0;\n  margin-top: 10px;\n  height: 70px;\n  overflow: hidden; }\n  .hotel-image-thumbnails .hotel-image {\n    padding-left: 0;\n    padding-right: 0;\n    cursor: pointer; }\n\n.empty-tab {\n  visibility: hidden; }\n"],"sourceRoot":"/source/"}
body {
  margin-top: 70px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px;
  background-image: url('/img/bkg2.jpg');
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

.col-container {
  padding-left: 5px;
  padding-right: 5px; }

.navbar {
  z-index: 500; }

.navbar-collapse {
  padding: 0 30px !important; }

.navbar-header {
  margin-right: 20px !important; }
  .navbar-header .navbar-brand {
    font-size: 1.5em !important; }

.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
  padding: 0; }
  .card .card-heading {
    background-color: #f9f9f6;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-width: 1px; }
    .card .card-heading h1 {
      font-size: 2em;
      margin: 0;
      padding: 0 15px;
      color: #3B3B3B; }
    .card .card-heading h2 {
      font-size: 1.4em;
      margin: 0;
      padding: 0 15px;
      color: #3B3B3B; }
    .card .card-heading h3 {
      font-size: 1em;
      margin: 0;
      padding: 0 5px;
      font-weight: 500;
      color: #3B3B3B;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
  .card .card-body {
    padding: 20px; }
    .card .card-body .loader {
      text-align: center; }

.nav-tabs .ng-isolate-scope a {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd; }
.nav-tabs .ng-isolate-scope:active a {
  background-color: #f9f9f6;
  border-bottom: none; }

.tab-card {
  border-top: none !important; }

.search .input-group {
  float: left !important;
  padding: 0 15px !important;
  margin-bottom: 15px;
  position: relative; }
.search .btn {
  width: 100%; }
.search .autocomplete-panel {
  position: absolute;
  width: 89%;
  margin-top: 33px;
  margin-left: 16px;
  z-index: 2000;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  left: 1px; }
  .search .autocomplete-panel .autocomplete-item {
    padding: 5px 10px;
    cursor: pointer; }
    .search .autocomplete-panel .autocomplete-item:hover {
      background-color: #F9F9F6; }
  .search .autocomplete-panel .autocomplete-category {
    padding: 5px 10px;
    cursor: default;
    font-size: 1em;
    color: #b4b2aa;
    font-wight: bold;
    border-bottom: 1px solid #f2f1ee; }

.btn-main {
  background-color: #f87e47;
  border-color: #ec7944;
  color: #fff; }
  .btn-main:hover {
    background-color: #ec7944;
    color: #fff; }

.form-control:focus {
  border-color: #f87e47 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(248, 126, 71, 0.6) !important; }

.form-control[readonly] {
  background-color: #fff !important; }

.btn:focus {
  border-color: #ff854e !important;
  box-shadow: none !important;
  color: #fff;
  background-color: #ff854e;
  outline: none !important; }

.recommendation-container .recommendation {
  margin-bottom: 10px;
  cursor: pointer; }
  .recommendation-container .recommendation img {
    border-radius: 3px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 10px;
    transition: all 0.3s; }
  .recommendation-container .recommendation h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #3b3b3b;
    font-weight: bold; }
  .recommendation-container .recommendation p {
    color: #b4b2aa; }
  .recommendation-container .recommendation:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0 5px 5px 0 #b8b4b8; }
.recommendation-container .recommendation-loader {
  text-align: center; }

.dropdown-menu {
  background-color: #F87E47;
  padding-top: 0 !important;
  width: 80%; }
  .dropdown-menu table {
    width: 100%; }
    .dropdown-menu table .datepicker-header {
      background-color: #fff; }
      .dropdown-menu table .datepicker-header th {
        text-align: center;
        width: 15.25%;
        color: #a3a199 !important; }
        .dropdown-menu table .datepicker-header th .btn {
          border: none !important;
          border-radius: 0 !important;
          color: #a3a199 !important; }
          .dropdown-menu table .datepicker-header th .btn:hover {
            background-color: #fff !important; }
          .dropdown-menu table .datepicker-header th .btn:focus {
            background-color: #fff !important; }
    .dropdown-menu table .week-days {
      color: #db7344;
      text-transform: uppercase;
      line-height: 3em;
      text-align: center; }
    .dropdown-menu table tbody {
      color: #fff; }
      .dropdown-menu table tbody tr td {
        background-color: #F87E47;
        padding: 0 !important;
        width: 15.25%; }
        .dropdown-menu table tbody tr td .btn {
          border: none !important;
          border-radius: 50% !important;
          background-color: #F87E47 !important;
          color: #fff !important;
          opacity: 1 !important;
          padding: 2px 4px !important;
          height: 25px !important;
          width: 25px !important;
          font-weight: bold; }
          .dropdown-menu table tbody tr td .btn:hover {
            background-color: #fff !important; }
            .dropdown-menu table tbody tr td .btn:hover span {
              color: #f87e47; }
          .dropdown-menu table tbody tr td .btn.active {
            background-color: #fff !important; }
            .dropdown-menu table tbody tr td .btn.active span {
              color: #f87e47 !important; }
          .dropdown-menu table tbody tr td .btn .text-info {
            color: #fff; }
        .dropdown-menu table tbody tr td .text-muted {
          color: #fff; }
        .dropdown-menu table tbody tr td .disabled-btn span {
          color: #db7344 !important; }
      .dropdown-menu table tbody tr em {
        display: none; }
    .dropdown-menu table:focus {
      box-shadow: none !important;
      border: none !important;
      outline: none !important; }

.filters-outer {
  margin: 0 5px; }

.outer-hotel {
  padding: 0 5px;
  opacity: 1; }
  .outer-hotel .hotel {
    height: 100%;
    width: 100%;
    padding: 0 !important; }
    .outer-hotel .hotel div {
      padding-left: 0;
      padding-right: 0; }
    .outer-hotel .hotel .hotel-image img {
      width: 100%;
      max-height: 185px; }
    .outer-hotel .hotel .hotel-details {
      height: 50px;
      margin-top: 5px; }
      .outer-hotel .hotel .hotel-details h2 {
        font-size: 1.8em;
        margin: 0; }
    .outer-hotel .hotel .price p {
      font-size: 0.8em;
      margin-bottom: 0; }
    .outer-hotel .hotel .price h3 {
      font-size: 1.4em;
      margin-top: 0;
      margin-bottom: 0; }
    .outer-hotel .hotel .star-rating {
      color: #f87e47;
      min-height: 20px;
      text-align: right;
      padding-top: 12px;
      font-size: 1.4em; }
      @media screen and (max-width: 1200px) {
        .outer-hotel .hotel .star-rating {
          padding-top: 17px;
          font-size: 1em; } }
      @media screen and (max-width: 767px) {
        .outer-hotel .hotel .star-rating {
          padding-top: 12px;
          font-size: 1.4em; } }
    .outer-hotel .hotel .select-btn {
      margin-top: 10px; }
      .outer-hotel .hotel .select-btn .btn {
        width: 100%; }
  .outer-hotel.ng-enter {
    /* Chrome */
    transition: 0.3s linear all;
    opacity: 0; }
  .outer-hotel.ng-enter-stagger {
    transition-delay: 0.05s; }
  .outer-hotel.ng-enter-active {
    opacity: 1; }

.carousel-inner .item {
  max-height: 450px;
  overflow: hidden;
  transition: all 0.3s; }
  .carousel-inner .item img {
    width: 100%; }

.hotel-image-carousel {
  height: 250px;
  overflow: hidden; }

.full-page-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  left: 0;
  top: 0;
  text-align: center; }
  .full-page-loader .full-page-loading-text {
    margin-top: 20%; }
    .full-page-loader .full-page-loading-text i {
      color: #F87E47; }

.google-maps-widget .angular-google-map-container {
  height: 400px; }

.hotel-image-thumbnails {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  height: 70px;
  overflow: hidden; }
  .hotel-image-thumbnails .hotel-image {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer; }

.empty-tab {
  visibility: hidden; }

/*# sourceMappingURL=global.css.map */